@import "../../../assets/styles/variables.scss";
.footer {
    &__title {
        h3 {
            -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $naranja;
            font: 50px "comic";
            text-align: center;
            opacity: 0.4;
        }
    }
}
