@import "../../../assets/styles/variables.scss";
.header {
    width: 100%;
    z-index: 1;
    background-color: $negro;
    background-image: radial-gradient($blanco, rgba(255, 255, 255, 0.2) 2px, transparent 40px),
        radial-gradient($blanco, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
        radial-gradient($blanco, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
        radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
@include break("tablet") {
    .header {
    }
}
