@import "../../../assets/styles/variables.scss";
.qualification {
    &__btns {
        margin-top: 20px;
        @include flex(wrap, row-reverse, center, center, center);
        button {
            border: 0;
            background: transparent;
            color: $blanco;
            padding: 0 5px;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            &.active,
            &:hover {
                color: $naranja;
                & ~ button {
                    color: $naranja;
                }
            }
        }
    }
    &__face {
        min-height: 53px;
        margin: 10px 0;
        span {
            -webkit-text-fill-color: $blanco + #{"00"};
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $blanco;
            font: 50px "comic";
            text-align: center;
        }
    }
}

@include break("tablet") {
    .qualification {
    }
}
@include break("mobile") {
    .qualification {
    }
}
