/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
}
body {
    background: url(./assets/images/fondo1.jpg) no-repeat center/cover;
    height: 100%;
    min-height: 100vh;
    position: relative;
    &::after {
        content: "";
        background: #ffffffe3;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}
